.App {
  text-align: center;
}

.container {
  text-align: center;
  color: black;
}

.fa {
  padding: 5px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  display: inline-block;
}

.fa:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 768px) {
  .container {
    text-align: center;
    padding: 10rem 6rem;
    font-size: larger;
    color: black;
    overflow: hidden;
  }

  .fa {
    padding: 20px;
  }

}