.App {
  text-align: center;
}

.container {
  text-align: center;
  color: black;
}

@media only screen and (min-width: 768px) {
  .container {
    text-align: center;
    padding: 10rem 6rem;
    font-size: larger;
    color: black;
    overflow: hidden;
  }

  .fa {
    padding: 20px;
  }

}