.App {
  text-align: center;
}

.container {
  max-width: 55%;
  text-align: center;
  padding: 5rem 6rem;
  color: black;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 55%;
    text-align: center;
    padding: 10rem 6rem;
    font-size: 150%;
    color: black;
  }
}